/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /*background-image: url("images/rocks-bg.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
	
	
}




/*This is to position the RM logo at top right of page*/
.logo {
    margin-bottom: 16px;
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
	
}

/*This is to code the center blue background*/
.center {
	padding: 20%;
	
 	background: black; 
	text-align: center;
}

/*This is to place the butterfly icon*/
#icon {
	padding-top: 50%;
	text-align: center;
}

/*This is to make the logo and navbar aligned at the top of the page*/
.splitscreen {
	
	display: flex;
	margin-bottom: -40px;
	background: black;
}

/*This is also additional code to make logo and navbar aligned at top of page*/
.splitscreen .logo,
.splitscreen .nav {
	flex: 1;
}  


/*This is to adjust the overall navbar*/
.nav{
	margin-top: 40px;
	margin-right: 40px;
	font-family: elza-text,sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	text-align: right;
}

.nav ul{
	text-align:  right;
	list-style: none;
}

.nav li{
	display: inline-block;
}

.nav a{
	padding: 10px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-style: italic;
}

h1 {
	/*font-family: georgiapro,serif;
	font-weight: 900;
	font-style: bold;*/
	font-family: elza-text,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 3em;
    margin: 0px;
	margin-top: -100px;
    color: rgb(255, 255, 255);
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 2em;
    line-height: 1.42;
    color: rgb(177, 90, 203);
    margin-top: 20px;

}

.slide-left{
	width: 100%;
	overflow: hidden;
	margin-right: 400px;
	max-width: 1000px;

}

.slide-left h2{
	animation: 2s slide-left;
	animation-delay: 1s;
}

@keyframes slide-left{
	from {
		margin-right: -300px;
	}

	to {
		margin-right: 0%
	}
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: elza-text,sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1.5em;
    line-height: 1.6;
    color: rgb(255, 255, 255);
	padding-top: 10px;
}




a:hover{
	color: black;
	background: rgb(233, 178, 250);
	}	
    
